<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="cotton-push-network">
    <template>
        <paper-dialog id="dialog" with-backdrop modal>
            <h2>[[Title]]</h2>
            <p>[[Description]]</p>
            <div class="buttons">
                <paper-button id="reconnectButton" autofocus on-click="_reconnect">[[Reconnect]]</paper-button>
            </div>
        </paper-dialog>
    </template>

    <style>
        :host paper-dialog {
            background: white;
            width: 400px;
        }
        :host paper-dialog h2 {
            padding: 5px 10px;
            margin: 0;
            border-bottom: 1px solid #ddd;
            font-size: 12pt;
        }
        :host paper-dialog p {
            padding: 10px;
            margin: 5px 0;
            font-size: 11pt;
            text-align: center;
        }
        :host paper-dialog .buttons {
            border-top: 1px solid #ddd;
            background: white;
            padding: 8px;
        }
    </style>

    <script>
        const CottonPushNetwork = {
            es : {
                Title : "error de conexión",
                Description: "no hay conexión con el servidor",
                Reconnect: "volver a intentar"
            },
            en : {
                Title : "conection error",
                Description: "no internet connection with server",
                Reconnect: "try again"
            }
        };

        Polymer({
            is: 'cotton-push-network',
            behaviors: [ CottonBehaviors.TranslatorBehavior ],

            attached : function() {
                this.translate(CottonPushNetwork);
            },

            open : function() {
                this.$.dialog.open();
            },

            _reconnect : function() {
                this.$.reconnectButton.disabled = true;
                window.location.reload(true);
            }
        });
    </script>

</dom-module>
