<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../PushService.js"></script>
    <link rel="import" href="../cotton-push-behavior.html">
  </head>
  <body>
    <pushable-element></pushable-element>
    <dom-module id="pushable-element">
      <template>

        <h3>Last push message received: </h3>
        <p><b>Content:</b> <span>{{pushContent}}</span></p>
        <p><b>At time:</b> <span>{{currentTime}}</span></p>
      </template>

      <script>
      PushService.openConnection("ws://localhost:8889");
        Polymer({
          is: 'pushable-element',
          behaviors: [CottonBehaviors.PushBehavior],
          properties: {
            pushContent: {
              type: String,
              value: "No push received yet"
            },
            currentTime: {
              type: String,
              value: ""
            }
          },
          ready: function() {
            var update = this._update.bind(this);
            this.when("Greet").execute(function (content) {
              update(content);
            });
          },
          _update: function(content) {
            this.pushContent = content;
            this.currentTime = new Date();
          }
        });
      </script>
    </dom-module>
  </body>
</html>
